@media all {
    body {
        font-family: 'Inter-Medium';
    }


    table.tbl_items thead th, table.tbl_items thead td {
        padding: 4px 17px;
        text-align: left !important;
    }

    table.tbl_items tfoot th, table.tbl_items tfoot td {
        padding: 4px
    }

    table.tbl_items tbody th, table.tbl_items tbody td {
        padding: 4px;
        border-right: 0;
        text-align: left;
    }


    table.tbl_items tbody th, table.tbl_items tbody td {
        padding: 8px 10px
    }

    .tbl_items thead tr th:last-child, .tbl_items tbody tr td:last-child {
        text-align: right !important;
    }
}

.company-logo {
    height: 40px;
    right: 5px;
    position: absolute;
    width: auto;
}


.page-break {
    page-break-after: always;
}

.avoid-page-break-inside {
    page-break-inside: avoid;
}

.footer-form .sign-form {
    margin: 0 auto;
    width: 90%;
}

.footer-form .sign-form td {
    background: transparent;
    border: none;
    text-align: center;
    width: 50% !important;
}

.footer-form {
    margin-top: 40px;
}

.footer {
    bottom: 0;
    position: fixed;
}

.pagenum::before {
    content: counter(page);
}

.tbl_total {
    width: 50% !important;
    float: right !important;
}

.tbl_total tbody td {
    border-top: 0.1pt solid #aaa;
}

table.tbl_items thead th, table.tbl_items tbody td {
    padding: 4px;
    border-right: 0;
    text-align: left;
}

.tbl_items thead th {
    border-bottom: 1px solid #000 !important;
}

/* ========================================================================
       * TABLE
       * ======================================================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    margin-bottom: 0;
    width: 100%;
}

.table tbody th {
    text-align: left;
}


.table thead tr th:first-child {
    border-left: 0;
}

.table thead tr th:last-child {
    border-right: 0;
}

.table thead .sorting::after {
    content: "\f0dc";
    margin-left: 5px;
}

.table thead .sorting_asc::after {
    content: "\f0dd";
    margin-left: 5px;
}

.table thead .sorting_desc::after {
    content: "\f0de";
    margin-left: 5px;
}

.table tfoot tr th:first-child {
    border-left: none;
}

.table tfoot tr th:last-child {
    border-right: none;
}


.table td {
    padding: 8px !important;
}

td.text-center,
.text-center {
    text-align: center;
}

th.text-right,
td.text-right,
.text-right {
    text-align: right;
}


.table-align-middle > thead > tr > th,
.table-align-middle > tbody > tr > th,
.table-align-middle > tbody > tr > td {
    vertical-align: middle;
}

.table-fixed {
    table-layout: fixed;
}


hr {
    margin-bottom: 15px;
    margin-top: 15px;
}


.font-mono {
    font-weight: bolder;
    letter-spacing: 1px;
}

.text-uppercase {
    text-transform: uppercase;
}

.small-table {
    width: 100%;
}

.small-table th, .small-table td {
    padding: 5px;
}


.small-table thead th {
    font-weight: normal;
}

h1 {
    margin: 0 0 30px;
}

strong {
    font-weight: bold;
}

.right {
    text-align: right !important;
}

.left {
    float: left !important;
}


#header,
#footer {
    position: fixed;
    left: 0;
    right: 0;
    color: #000;
    font-size: 0.9em;
}

#header {
    top: 0;
    border-bottom: 0.1pt solid #aaa;
}

#footer {
    bottom: 0;
    border-top: 0.1pt solid #aaa;
}

.margin10 {
    margin-top: 10px !important;
}

.page-number{
    text-align: right !important;
    float: right !important;
    margin: 0 10px 10px 0;
}
.page-number:before {
    content: "Page " counter(page);
}
